/*VARIABLES*/
/*MIXINS*/
/* line 32, ../scss/main.scss */
body {
  background-color: #8de9f7;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: white;
}

/*TOP*/
/* line 42, ../scss/main.scss */
header {
  background-color: #535755;
  color: white;
  padding: 1px 0 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.2em;
}

/* line 51, ../scss/main.scss */
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 59, ../scss/main.scss */
img {
  margin-top: 10px;
  width: 15%;
  height: 15%;
}

/*****INPUT*****/
/* line 67, ../scss/main.scss */
#new-option {
  background: none;
  font-size: 45px;
  outline: none;
  border: none;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  width: 39%;
  border-bottom: 1px solid white;
  padding: 10px 10px;
}
/* line 13, ../scss/main.scss */
#new-option::-webkit-input-placeholder {
  color: white;
  font-size: 45px;
}
/* line 14, ../scss/main.scss */
#new-option:-moz-placeholder {
  color: white;
  font-size: 45px;
}
/* line 15, ../scss/main.scss */
#new-option::-moz-placeholder {
  color: white;
  font-size: 45px;
}
/* line 16, ../scss/main.scss */
#new-option:-ms-input-placeholder {
  color: white;
  font-size: 45px;
}

/* line 83, ../scss/main.scss */
.edit {
  margin: 0;
  background: none;
  font-size: 15px;
  outline: none;
  border: none;
}

/*CHOICES*/
/* line 93, ../scss/main.scss */
#submitting {
  margin-bottom: 5em;
}

/* line 97, ../scss/main.scss */
form {
  color: #535755;
  display: inline;
  letter-spacing: 0.1em;
}

/* line 103, ../scss/main.scss */
#choices {
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 1em;
  background: #535755;
  padding-bottom: 1em;
  letter-spacing: 0.1em;
}

/* line 112, ../scss/main.scss */
#num {
  color: #8de9f7;
  font-weight: bold;
}

/**BUTTONS**/
/* line 118, ../scss/main.scss */
button.clear-all {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: white;
  color: #535755;
  text-decoration: none;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: center;
  line-height: 5px;
  font-size: 13px;
  font-weight: bold;
  width: 20px;
  height: 20px;
}

/* line 134, ../scss/main.scss */
.clear-all:hover {
  color: #8de9f7;
}

/* line 138, ../scss/main.scss */
.radio-label {
  cursor: pointer;
}

/* line 142, ../scss/main.scss */
input[type="radio"] {
  display: none;
}

/* line 146, ../scss/main.scss */
input[type="radio"] + .radio-label:before {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background: #535755;
  color: white;
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding: 0.1em;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

/* line 159, ../scss/main.scss */
input[type=radio]:checked + label:before {
  content: "\2022";
  color: #8de9f7;
  font-size: 20px;
  font-weight: bold;
  line-height: 0.8em;
}

/* line 168, ../scss/main.scss */
.send, .restart {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background: white;
  color: #535755;
  padding: 0.4em;
  text-decoration: none;
  border: none;
  outline: none;
}

/* line 178, ../scss/main.scss */
.send:after, .restart:after {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background: #535755;
  color: white;
  content: ">";
  display: inline-block;
  height: 25px;
  line-height: 1.5em;
  margin-left: 0.5em;
  text-align: center;
  width: 25px;
}

/* line 191, ../scss/main.scss */
.send:hover, .send:hover:after, .restart:hover:after, .restart:hover {
  color: #8de9f7;
}

/* line 199, ../scss/main.scss */
.btns {
  margin-top: 0px;
  display: block;
  padding-bottom: 0.4em;
}

/* line 205, ../scss/main.scss */
.editbtn, .destroy {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 10px;
  background-color: #8de9f7;
  border: 0 none;
  margin-top: 0px;
  outline: none;
}

/* line 214, ../scss/main.scss */
.editbtn:hover, .destroy:hover {
  color: #535755;
}

/* line 226, ../scss/main.scss */
.restart {
  opacity: 0;
}

/*****LIST*****/
/* line 234, ../scss/main.scss */
#options-list li {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  list-style-type: none;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  display: block;
  text-decoration: none;
  padding-top: 0.4em;
  margin: 1em 10em;
  margin-bottom: 0px;
}
/* line 246, ../scss/main.scss */
#options-list li .edit {
  display: none;
  padding-bottom: 0.4em;
}
/* line 252, ../scss/main.scss */
#options-list li.editing .view {
  display: none;
}
/* line 256, ../scss/main.scss */
#options-list input {
  font-size: 30px;
}

/***DECISION***/
/* line 263, ../scss/main.scss */
.result {
  margin-top: 50px;
  font-size: 50px;
}

/* line 268, ../scss/main.scss */
.restart {
  margin-top: 10px;
  margin-bottom: 10px;
}
