/*VARIABLES*/
/*MIXINS*/
/* line 26, ../scss/main.scss */
body {
  background-color: #8de9f7;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: white;
}

/*TOP*/
/* line 36, ../scss/main.scss */
header {
  background-color: #535755;
  color: white;
  padding: 5px 0 50px;
  margin-top: 0;
  margin-bottom: 0px;
}

/* line 44, ../scss/main.scss */
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* line 51, ../scss/main.scss */
img {
  margin-top: 10px;
  width: 10%;
  height: 10%;
}

/*****INPUT*****/
/* line 59, ../scss/main.scss */
#new-option {
  background: none;
  font-size: 45px;
  outline: none;
  border: none;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  width: 40%;
  border-bottom: 1px solid white;
  padding: 10px 10px;
}
/* line 13, ../scss/main.scss */
#new-option::-webkit-input-placeholder {
  color: white;
  font-size: 45px;
}
/* line 14, ../scss/main.scss */
#new-option:-moz-placeholder {
  color: white;
  font-size: 45px;
}
/* line 15, ../scss/main.scss */
#new-option::-moz-placeholder {
  color: white;
  font-size: 45px;
}
/* line 16, ../scss/main.scss */
#new-option:-ms-input-placeholder {
  color: white;
  font-size: 45px;
}

/* line 75, ../scss/main.scss */
.edit {
  margin: 0;
  background: none;
  font-size: 15px;
  outline: none;
  border: none;
}

/*CHOICES*/
/* line 85, ../scss/main.scss */
#submitting {
  margin-bottom: 5em;
}

/* line 89, ../scss/main.scss */
form {
  color: #535755;
  display: inline;
  letter-spacing: 0.1em;
}

/* line 95, ../scss/main.scss */
#choices {
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 1em;
  background: #535755;
  padding-bottom: 1em;
  letter-spacing: 0.1em;
}

/* line 104, ../scss/main.scss */
#num {
  color: #8de9f7;
  font-weight: bold;
}

/**BUTTONS**/
/* line 110, ../scss/main.scss */
button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: black;
  border: 0 none;
  color: white;
  font-size: 15px;
}

/*****LIST*****/
/* line 123, ../scss/main.scss */
#options-list li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  list-style-type: none;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  display: block;
  padding: 0.2em;
  margin: 1em 10em;
  margin-top: 0;
  text-decoration: none;
}
/* line 135, ../scss/main.scss */
#options-list li .edit {
  display: none;
}
/* line 140, ../scss/main.scss */
#options-list li.editing .view {
  display: none;
}
/* line 144, ../scss/main.scss */
#options-list input {
  font-size: 30px;
}

/***DECISION***/
/* line 151, ../scss/main.scss */
.result {
  margin-top: 50px;
  font-size: 50px;
}

/* line 156, ../scss/main.scss */
.restart {
  margin-top: 10px;
  margin-bottom: 10px;
}
