/****VARIABLES****/
/****MIXINS****/
/****ALL SIZES****/
/* line 32, ../scss/main.scss */
body {
  background-color: #8de9f7;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: white;
  margin: 0px;
}

/*TOP*/
/* line 42, ../scss/main.scss */
header {
  background-color: #535755;
  color: white;
  padding: 1px 0 1%;
  margin: 0px auto;
  letter-spacing: 0.2em;
}

/* line 50, ../scss/main.scss */
#icon {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 20%;
  height: 20%;
}

/*****INPUT*****/
/* line 58, ../scss/main.scss */
#new-option {
  background: none;
  font-size: 45px;
  outline: none;
  border: none;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  width: 60%;
  border-bottom: 1px solid white;
  padding: 10px 10px;
  text-align: center;
}
/* line 11, ../scss/main.scss */
#new-option::-webkit-input-placeholder {
  color: white;
  font-size: 45px;
}
/* line 12, ../scss/main.scss */
#new-option:-moz-placeholder {
  color: white;
  font-size: 45px;
}
/* line 13, ../scss/main.scss */
#new-option::-moz-placeholder {
  color: white;
  font-size: 45px;
}
/* line 14, ../scss/main.scss */
#new-option:-ms-input-placeholder {
  color: white;
  font-size: 45px;
}

/* line 75, ../scss/main.scss */
.edit {
  margin: 0;
  background: none;
  font-size: 15px;
  outline: none;
  border: none;
  width: 100%;
}

/*CHOICES*/
/* line 86, ../scss/main.scss */
#submitting {
  margin-top: 0em;
  margin-bottom: 3em;
}

/* line 91, ../scss/main.scss */
form {
  color: white;
  display: block;
  letter-spacing: 0.1em;
}

/* line 97, ../scss/main.scss */
#decision {
  margin-top: 1em;
  display: block;
}

/* line 102, ../scss/main.scss */
#choices {
  background: #535755;
  font-size: 18px;
  margin-top: 0em;
  margin-bottom: 1em;
  padding-top: 0em;
  padding-bottom: 1em;
  letter-spacing: 0.05em;
  width: 100%;
}

/* line 113, ../scss/main.scss */
#count {
  font-size: 20px;
}

/**BUTTONS**/
/* line 118, ../scss/main.scss */
button.clear-all {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  margin-top: 1%;
  background: #535755;
  color: white;
  border: 1px solid white;
  outline: none;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}

/* line 131, ../scss/main.scss */
.clear-all:hover {
  background: white;
  color: #8de9f7;
}

/* line 136, ../scss/main.scss */
.radio-label {
  cursor: pointer;
}

/* line 140, ../scss/main.scss */
input[type="radio"] {
  display: none;
}

/*
input[type="radio"] + .radio-label:before {
	@include border-radius(20px);
	background: $main-font;
	color: $main-font;
	content:"";
	display:inline-block;
	vertical-align:middle;
	padding:0.1em;
	margin-right:5px;
	height: 20px;
	width: 20px;
}

input[type=radio]:checked + label:before {
	content:"\2022";
	color:$grey;
	font-size:20px;
	font-weight:bold;
	line-height:0.8em;
}
*/
/* line 167, ../scss/main.scss */
input[type=radio]:checked + label {
  color: #535755;
}

/* line 171, ../scss/main.scss */
.send, .restart {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background: #8de9f7;
  border: 2px solid white;
  color: white;
  padding: 0.4em 1em;
  text-decoration: none;
  outline: none;
  vertical-align: middle;
}

/* line 182, ../scss/main.scss */
.send:hover, .send:hover:after, .restart:hover:after, .restart:hover {
  color: #8de9f7;
  background: white;
}

/* line 191, ../scss/main.scss */
.btns {
  margin-top: 0px;
  display: block;
  padding-bottom: 0.4em;
}

/* line 197, ../scss/main.scss */
.editbtn, .destroy {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #8de9f7;
  border: 2px solid #8de9f7;
  margin-top: 0px;
  outline: none;
}

/* line 206, ../scss/main.scss */
.editbtn:hover, .destroy:hover {
  background: white;
  color: #8de9f7;
}

/* line 219, ../scss/main.scss */
.restart {
  opacity: 0;
}

/*****LIST*****/
/* line 226, ../scss/main.scss */
#options-list li {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  list-style-type: none;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 1em 15%;
  margin-left: 12%;
  margin-bottom: 0em;
  padding: 0.4em 1em;
  padding-bottom: 0em;
  word-wrap: break-word;
}
/* line 242, ../scss/main.scss */
#options-list li .edit {
  display: none;
  padding-bottom: 0.4em;
  width: 100%;
  word-wrap: break-word;
}
/* line 251, ../scss/main.scss */
#options-list li.editing .view {
  display: none;
}
/* line 255, ../scss/main.scss */
#options-list input {
  font-size: 30px;
}

/***DECISION***/
/* line 262, ../scss/main.scss */
.result {
  margin-top: 5%;
  font-size: 50px;
  opacity: 0;
  padding: 0 15%;
  word-wrap: break-word;
}

/* line 270, ../scss/main.scss */
.restart {
  margin-top: 2%;
  margin-bottom: 4%;
}

/* line 275, ../scss/main.scss */
#verdict {
  color: #535755;
}

/****MEDIA QUERIES****/
@media (max-width: 310px) {
  /* line 282, ../scss/main.scss */
  #icon {
    width: 30%;
    height: 30%;
  }

  /* line 287, ../scss/main.scss */
  #new-option {
    font-size: 15px;
    width: 80%;
    margin-bottom: 0.5em;
  }
  /* line 11, ../scss/main.scss */
  #new-option::-webkit-input-placeholder {
    font-size: 15px;
  }
  /* line 12, ../scss/main.scss */
  #new-option:-moz-placeholder {
    font-size: 15px;
  }
  /* line 13, ../scss/main.scss */
  #new-option::-moz-placeholder {
    font-size: 15px;
  }
  /* line 14, ../scss/main.scss */
  #new-option:-ms-input-placeholder {
    font-size: 15px;
  }

  /* line 296, ../scss/main.scss */
  #choices, #submitting {
    font-size: 7px;
  }

  /* line 300, ../scss/main.scss */
  #decision {
    font-size: 10px;
  }

  /* line 304, ../scss/main.scss */
  .editbtn, .destroy {
    font-size: 7px;
  }

  /* line 309, ../scss/main.scss */
  #options-list li {
    margin: 1em 15%;
    margin-left: 5%;
    font-size: 15px;
  }
  /* line 315, ../scss/main.scss */
  #options-list input {
    font-size: 15px;
  }

  /* line 320, ../scss/main.scss */
  .result {
    font-size: 15px;
  }
}
@media (min-width: 310px) and (max-width: 400px) {
  /* line 326, ../scss/main.scss */
  #icon {
    width: 30%;
    height: 30%;
  }

  /* line 331, ../scss/main.scss */
  #new-option {
    font-size: 20px;
    width: 80%;
    margin-bottom: 0.5em;
  }
  /* line 11, ../scss/main.scss */
  #new-option::-webkit-input-placeholder {
    font-size: 20px;
  }
  /* line 12, ../scss/main.scss */
  #new-option:-moz-placeholder {
    font-size: 20px;
  }
  /* line 13, ../scss/main.scss */
  #new-option::-moz-placeholder {
    font-size: 20px;
  }
  /* line 14, ../scss/main.scss */
  #new-option:-ms-input-placeholder {
    font-size: 20px;
  }

  /* line 340, ../scss/main.scss */
  #choices, #submitting {
    font-size: 10px;
  }

  /* line 344, ../scss/main.scss */
  #decision {
    font-size: 13px;
  }

  /* line 348, ../scss/main.scss */
  .editbtn, .destroy {
    font-size: 10px;
  }

  /* line 353, ../scss/main.scss */
  #options-list li {
    margin: 1em 15%;
    margin-left: 5%;
    font-size: 20px;
  }
  /* line 359, ../scss/main.scss */
  #options-list input {
    font-size: 20px;
  }

  /* line 364, ../scss/main.scss */
  .result {
    font-size: 20px;
  }
}
@media (min-width: 400px) and (max-width: 550px) {
  /* line 370, ../scss/main.scss */
  #icon {
    width: 30%;
    height: 30%;
  }

  /* line 375, ../scss/main.scss */
  #new-option {
    font-size: 25px;
    width: 80%;
    margin-bottom: 0.5em;
  }
  /* line 11, ../scss/main.scss */
  #new-option::-webkit-input-placeholder {
    font-size: 25px;
  }
  /* line 12, ../scss/main.scss */
  #new-option:-moz-placeholder {
    font-size: 25px;
  }
  /* line 13, ../scss/main.scss */
  #new-option::-moz-placeholder {
    font-size: 25px;
  }
  /* line 14, ../scss/main.scss */
  #new-option:-ms-input-placeholder {
    font-size: 25px;
  }

  /* line 384, ../scss/main.scss */
  #decision {
    font-size: 16px;
  }

  /* line 388, ../scss/main.scss */
  .editbtn, .destroy {
    font-size: 10px;
  }

  /* line 393, ../scss/main.scss */
  #choices, #submitting {
    font-size: 13px;
  }

  /* line 398, ../scss/main.scss */
  #options-list li {
    margin: 1em 15%;
    margin-left: 5%;
    font-size: 25px;
  }
  /* line 404, ../scss/main.scss */
  #options-list input {
    font-size: 25px;
  }

  /* line 409, ../scss/main.scss */
  .result {
    font-size: 25px;
  }
}
@media (min-width: 550px) and (max-width: 850px) {
  /* line 416, ../scss/main.scss */
  #icon {
    width: 25%;
    height: 25%;
  }

  /* line 421, ../scss/main.scss */
  #new-option {
    font-size: 30px;
    width: 80%;
    margin-bottom: 0.5em;
  }
  /* line 11, ../scss/main.scss */
  #new-option::-webkit-input-placeholder {
    font-size: 30px;
  }
  /* line 12, ../scss/main.scss */
  #new-option:-moz-placeholder {
    font-size: 30px;
  }
  /* line 13, ../scss/main.scss */
  #new-option::-moz-placeholder {
    font-size: 30px;
  }
  /* line 14, ../scss/main.scss */
  #new-option:-ms-input-placeholder {
    font-size: 30px;
  }

  /* line 430, ../scss/main.scss */
  #submitting, #choices {
    font-size: 15px;
  }

  /* line 434, ../scss/main.scss */
  #decision {
    font-size: 16px;
  }

  /* line 440, ../scss/main.scss */
  #options-list li {
    margin: 1em 15%;
    margin-left: 9%;
    font-size: 30px;
  }
  /* line 446, ../scss/main.scss */
  #options-list input {
    font-size: 30px;
  }

  /* line 451, ../scss/main.scss */
  .result {
    font-size: 30px;
  }
}
@media (min-width: 1300px) {
  /* line 457, ../scss/main.scss */
  #icon {
    width: 20%;
    height: 20%;
  }

  /* line 462, ../scss/main.scss */
  #new-option {
    width: 80%;
    font-size: 55px;
    margin-bottom: 0.5em;
  }
  /* line 11, ../scss/main.scss */
  #new-option::-webkit-input-placeholder {
    font-size: 55px;
  }
  /* line 12, ../scss/main.scss */
  #new-option:-moz-placeholder {
    font-size: 55px;
  }
  /* line 13, ../scss/main.scss */
  #new-option::-moz-placeholder {
    font-size: 55px;
  }
  /* line 14, ../scss/main.scss */
  #new-option:-ms-input-placeholder {
    font-size: 55px;
  }

  /* line 471, ../scss/main.scss */
  #submitting, #choices {
    font-size: 30px;
  }

  /* line 475, ../scss/main.scss */
  #decision {
    font-size: 30px;
  }

  /* line 479, ../scss/main.scss */
  .send:after, .restart:after {
    height: 30px;
    line-height: 0.8em;
    margin-left: 0.5em;
    text-align: center;
    width: 25px;
  }

  /* line 487, ../scss/main.scss */
  .editbtn, .destroy {
    font-size: 20px;
  }

  /* line 492, ../scss/main.scss */
  #options-list li {
    margin: 1em 15%;
    margin-left: 13%;
    font-size: 55px;
  }
  /* line 498, ../scss/main.scss */
  #options-list input {
    font-size: 55px;
  }

  /* line 503, ../scss/main.scss */
  .result {
    font-size: 55px;
  }

  /* line 507, ../scss/main.scss */
  .restart {
    font-size: 30px;
  }
}
