@import 'compass/css3';
/*VARIABLES*/
$nice-blue: #8DE9F7;
$grey: #535755;
$main-font: #fff;

$fontcab: 'Cabin', sans-serif;
$fontsrc: 'Source Sans Pro', sans-serif;
$fontral: 'Raleway', sans-serif;

/*MIXINS*/
@mixin placeholder() {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder {@content}
	&::-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
}

@mixin border-radius($rad) {
	-webkit-border-radius:$rad;
	-moz-border-radius:$rad;
	-ms-border-radius:$rad;
	border-radius:$rad;
}

body {
	background-color:$nice-blue;
	text-align:center;
	font-family: $fontsrc;
	font-weight:200;
	color:$main-font;
}

/*TOP*/

header {
	background-color: $grey;
  color: $main-font;
  padding: 5px 0 50px;
  margin-top:0;
  margin-bottom:0px;
}

h1 {
	font-family: $fontral;
	font-size:100px;
	font-weight:700;
	margin-bottom:10px;
}

img {
	margin-top:10px;
 	width:10%;
	height:10%;
}


/*****INPUT*****/
#new-option {
	@include placeholder {
		color:$main-font;
		font-size:45px;
	}
  background: none;
  font-size: 45px;
  outline: none;
  border: none;
	margin-top:0.5em;
	margin-bottom: 0.2em;
	width:40%;
	border-bottom: 1px solid $main-font;
	padding: 10px 10px;
}

.edit {
	margin: 0;
	background: none;
	font-size: 15px;
	outline: none;
	border: none;
}


/*CHOICES*/
#submitting {
	margin-bottom:5em;
}

form {
	color:$grey;
	display:inline;
	letter-spacing:0.1em;
}

#choices {
	margin-top:0px;
	font-size:20px;
	margin-bottom:1em;
	background:$grey;
	padding-bottom:1em;
	letter-spacing:0.1em;
}

#num {
	color:$nice-blue;
	font-weight:bold;
}

/**BUTTONS**/
button {
	@include border-radius(3px);
	background-color:black;
	border: 0 none;
	color: $main-font;
	font-size:15px;
}




/*****LIST*****/
#options-list {
	li {
		@include border-radius(5px);
		list-style-type:none;
		font-size:30px;
		background-color:rgba(255,255,255, 0.3);
		position: relative;
		display: block;
		padding:0.2em;
    margin:1em 10em;
		margin-top:0;
		text-decoration: none;
		
		.edit {
			display: none;
		}
	}
	
	li.editing .view {
		display: none;
	}
	
	input {
		font-size:30px;
	}
	
}

/***DECISION***/
.result {
	margin-top:50px;
	font-size:50px;
}

.restart {
	margin-top: 10px;
	margin-bottom:10px;
}
	

