<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Decision Bot</title>

	<!--CSS-->
	<link rel="stylesheet" href="css/normalize.css">
  <!--SCSS compiled-->
	<link rel="stylesheet" href="css/main.css">
	<!--FONTS-->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
	<!--respond.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

	<!--<script>
	$(document).ready(function() {
		var first = false;
		var temp = $('#new-option').val();
		$('#new-option').val('');
		$('#new-option').val(temp);

		$(document).keypress(function(e) {
		  if (!first) {
				$('#new-option').val('');
				$('#new-option').focus();
				first = true;
			}
		});
	});
</script>-->
</head>

<body>
	<section id="inputting">
		<header>
			<!--<h1> Decision Bot </h1>-->
			<img id="icon" src="img/normal.png"></img>
		</header>
	  <section id="choices"></section>
		<input type="text" id="new-option" placeholder="Type your indecisions away" maxlength="100" autofocus>
		<section id="disp"></section>
		<div id="panel">

			<section id="submitting">
				<form>
					<div id="result-choice"></div>Give me a(n):
						<input type="radio" class="radio" id="one" name="result" value="single" checked="checked">
							<label for="one" class="radio-label"><span>single</span></label> /
						<input type="radio" class="radio" id="two" name="result" value="order">
							<label for="two" class="radio-label"><span>ordered</span></label>
					<span id="decision"><button type="button"class="send">DECISION</button></span>
				</form>
			</section>

		</div>
		<section class="list">
		<ul id="options-list"></ul>
		</section>
  </section>

	<!--JS-->
	<!--TEMPLATES-->
	<script type="text/template" id="display-choices">
		<span id="count"><%= total %></span>
		<br>
		<button type="button" class="clear-all">Clear All</button>
	</script>
	<script type="text/template" id="item-view">
		<div class="view">
			<label id="value">
				<%= title %>
			</label>
			<div class="btns">
			<button type="button" class="editbtn">Edit</button>
			<button type="button" class="destroy">Delete</button>
			</div>
		</div>
		<input class="edit" value="<%= title %>" maxlength="100">
	</script>
	<script type="text/template" id="result-disp">
		<div class="result">
		<span id="verdict">Verdict:</span> <%= resultTxt %>
		</div>
		<button type="button" class="restart">Restart</button>
	</script>
	<!--IMPORTS-->
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.9/backbone.localStorage-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="js/option.js"></script>
	<script src="js/optionList.js"></script>
	<script src="js/choicesView.js"></script>
	<script src="js/optionView.js"></script>
	<script src="js/app.js"></script>
</body>