<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	
	<title>Decision Maker</title>
	
	<!--CSS-->
	<link rel="stylesheet" href="css/normalize.css">
  <!--SCSS compiled-->
	<link rel="stylesheet" href="css/main.css">
	<script src="js/style.js"></script>
	<!--FONTS-->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,700|Raleway:400,300' rel='stylesheet' type='text/css'>
	
	<!--JS-->
	<!--TEMPLATES-->
	<script type="text/template" id="display-choices">
		<span id="count"> Currently   <span id="num"><%= total %></span> <%= total === 1 ? 'option' : 'options' %>
		</span>
		<button type="button" class="clear-all">x</button>
	</script>
	<script type="text/template" id="item-view">
		<div class="view">
      <label> 
				<%= title %>
			</label>
			<div class="btns">
			<button type="button" class="editbtn">Edit</button>
      <button type="button" class="destroy">Delete</button>
			</div>
    </div>
		<input class="edit" value="<%= title %>">
	</script>
	<script type="text/template" id="result-disp">
		<div class="result">
		Verdict: <%= resultTxt %>
		</div>
		<button type="button" class="restart">Restart</button>
	</script>
	<!--IMPORTS-->
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.9/backbone.localStorage-min.js"></script>
	<script src="js/option.js"></script>
	<script src="js/optionList.js"></script>
	<script src="js/choicesView.js"></script>
	<script src="js/optionView.js"></script>
	<!--<script src="js/resultView.js"></script>-->
	<script src="js/app.js"></script>
</head>

<body>
	<section id="inputting">
		<header>
			<h1> Decision Bot </h1>
			<img id="icon" src="http://www.clker.com/cliparts/e/8/3/a/11949864601483835659smiley103.svg.med.png"></img>
		</header>
	  <section id="choices"></section>
		<input type="text" id="new-option" placeholder="Type your indecisions away" maxlength="50" autofocus>
		<section id="disp"></section>
		<div id="panel">
			
			<section id="submitting">
				<form>			
					<div id="result-choice"></div>Give me a(n)
						<input type="radio" class="radio" id="one" name="result" value="single" checked="checked">
							<label for="one" class="radio-label"><span>single</span></label>
						<input type="radio" class="radio" id="two" name="result" value="order">
							<label for="two" class="radio-label"><span>ordered</span></label>
					<button type="button"class="send">DECISION</button>
				</form>
			</section>
			
		</div>
		<section class="list">
		<ul id="options-list"></ul>
		</section>
  </section>
</body>